<!-- llamamos al selector de mi archivo .ts, esto me 
 permite mostrar el  .html del componente product-list 
<app-product-list></app-product-list>-->
<!-- llamamos al selector de mi archivo .ts , esto me 
 permite mostrar el .html del componente home: --> 
<!-- <app-home></app-home>  -->

<!-- Esta etiqueta apunta a la ruta que puse en la constante del el archivo
  app.module.ts , que es presisamente el componente home: 
  
const routes: Routes =[
  {path:'',component:HomeComponent},
];  -->
 <router-outlet></router-outlet>
